#app {
    max-width: 120rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.heading {
    margin: 0 auto;
}

.btn {
    margin: 3rem auto;
}

.fa-plus {
    margin-right: 5px;
}

.card {
    position: relative;
}

.cards {
    margin-top: 2rem;
}

.fa-trash-alt {
    position: absolute;
    top: 0;
    right: 0;
}

.fa-edit {
    position: absolute;
    top: 0;
    right: 2.1rem;
}