#app {
    min-width: 120rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.heading {
    margin: 0 auto;
}

.btn {
    margin: 3rem auto;
    border: none;
    background-color: white;
    border: 1px solid black;
    //outline: none;
}

.fa-plus {
    margin-right: 5px;
}