#app {
    max-width: 120rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.heading {
    margin: 0 auto;
}

.btn {
    margin: 3rem auto;
    
}

.fa-plus {
    margin-right: 5px;
}